YourDailyPic/.vs/YourDailyPic/DesignTimeBuild
YourDailyPic/.vs/YourDailyPic/v17
YourDailyPic/YourDailyPic/YourDailyPic/bin
YourDailyPic/YourDailyPic/YourDailyPic/obj
YourDailyPic/YourDailyPic/YourDailyPic.Android/bin
YourDailyPic/YourDailyPic/YourDailyPic.Android/YourDailyPic.Android.csproj.user
YourDailyPic/YourDailyPic/YourDailyPic.iOS/obj
YourDailyPic/YourDailyPic/YourDailyPic.Android/obj/.cache/com.companyname.yourdailypic.flag
YourDailyPic/YourDailyPic/YourDailyPic.Android/obj/Debug
YourDailyPic/YourDailyPic/YourDailyPic.Android/obj/YourDailyPic.Android.csproj.nuget.dgspec.json
YourDailyPic/YourDailyPic/YourDailyPic.Android/obj/project.nuget.cache
